{% extends 'base.html' %}
{% load static %}

{% block title %}About Us{% endblock title %}





{% block main-content %}
<br>
<h2 class="text-center">About Us</h2>
<br>
<div class="row container justify-content-center">
  <p class="fs-4 text-center">
    Our vision is to be a leading dairy farm that is recognized for excellence in the industry. We envision a future where our dairy products are known for their exceptional taste, nutritional value, and contribution to a healthy lifestyle.
  </p>
</div>


<br>
<h2 class="text-center">Mission</h2>
<br>
<div class="row container text-center">
	<p class="fs-4">
		Our mission is to provide high-quality dairy products while promoting sustainable farming practices and animal welfare. We strive to deliver nutritious and delicious dairy products that meet the needs and preferences of our consumers. We are committed to maintaining the highest standards of quality, safety, and environmental responsibility in all aspects of our operations. Through continuous innovation and collaboration, we aim to contribute to the well-being of our customers, employees, and the communities we serve.
	</p>
</div>
</div>
<br><br>

{% endblock main-content %}
